.App {
  text-align: center;
}

.App_main--header {
  font-size: 64px;
}

.App_main {
  width: 80%;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 5px #ccc;
  margin: 5rem auto;
  padding: 12px;
  font-size: 32px;
  max-height: 100px;
  overflow: hidden;
  transition: all 1s;
}

.app_inner--container {
  border-bottom: 0.5px solid #bbb;
  padding: 8px;
  margin: 8px auto;
  transition: all 1s;
}

.block-_key {
  text-align: left;
  font-weight: bolder;
}

.block-link,
.block-number_value {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.block-details__info {
  text-align: left;
  margin-left: 16px;
}

.block-details__info-key {
  font-weight: bold;
  font-size: 21px;
}

.block-details__info-value {
  font-size: 12px;
  text-wrap: wrap;
}
